<section>
  <div class="container">
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>"A minimalist playground for first grade algebra" <%= link_to "<i class='fa fa-question-circle'></i>".html_safe, page_path('about') %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <br><br>
        <% if user_signed_in? %>
        <span class="speak" data-text="Hello, <%= current_user.name %>!"></span>
        <% end %>
        <%= link_to "<i  class=\"fa fa-chevron-circle-right fa-9 fade-ing speak-able\"></i>".html_safe, new_equation_path %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
