<% content_for :title do %>About<% end %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><i class='fa fa-question-circle'></i> About this web::application</h1>
        <p>
          I wanted to help my kids to practice algebra.. So I <em>gamified</em> the process.<br>
          Gamification is the concept of applying game mechanics and game design techniques to engage and motivate people to achieve their goals.
        </p>
        <h3>Get ready, start the timer:</h3>
        <%= image_tag('ready.png', class:'img-thumbnail') %>

        <h3>Receive an equation! What's seven + eight? Tap on the correct answer.</h3>
        <%= image_tag('question.png', class:'img-thumbnail') %>

        <h3>You clicked sixteen, and it's not correct. You have lost two gems. Try another!</h3>
        <%= image_tag('answer.png', class:'img-thumbnail') %>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
