<%= form_for @equation do |e| %>
<section>
  <div class="container">
    <!-- /.row -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= e.hidden_field :solve_time, value: 0 %>
        <span class="badge">
          <i class="fa fa-clock-o fa-3"></i> <span class='timer'>0</span>
        </span>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <span class="label finger label-primary hide-ing reveal-able speak-able timer-on">READY!</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center reveal">
        <span data-text='<%= @equation.a %>' class="label finger label-primary speak "><%= @equation.a %></span>
        <span data-text='<%= @equation.op_text %>' class="label finger label-<%= @equation.op_class %> speak "><%= @equation.op %></span>
        <span data-text='<%= @equation.b %>' class="label finger label-primary speak "><%= @equation.b %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center reveal">
        <span data-value="<%= (value = @equation.options.pop) %>" data-text="<%= value == @equation.result ? 'Correct!' : 'Incorrect...' %> <%= "#{@equation.a} #{@equation.op_text} #{@equation.b} is #{@equation.result}" %>" class="finger label label-info fade-ing timer-off submit-response speak-ing"><%= value %></span>
        <span data-value="<%= (value = @equation.options.pop) %>" data-text="<%= value == @equation.result ? 'Correct!' : 'Incorrect...' %> <%= "#{@equation.a} #{@equation.op_text} #{@equation.b} is #{@equation.result}" %>" class="finger label label-info fade-ing timer-off submit-response speak-ing"><%= value %></span>
        <span data-value="<%= (value = @equation.options.pop) %>" data-text="<%= value == @equation.result ? 'Correct!' : 'Incorrect...' %> <%= "#{@equation.a} #{@equation.op_text} #{@equation.b} is #{@equation.result}" %>" class="finger label label-info fade-ing timer-off submit-response speak-ing"><%= value %></span>
      </div>
    </div>
    <!-- /.row -->



  </div>
  <!-- /.container -->
  <%= e.hidden_field :response %>
  <%= e.hidden_field :start_at, value: Time.now %>
</section>
<% end  %>
