<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span class="badge">
          <i class="fa fa-clock-o fa-3"></i> <%= number_with_precision(@equation.solve_time * 0.001, precision: 2) %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <span  class="label finger small label-primary"><%= @equation.a %></span>
        <span  class="label finger small label-default"><%= @equation.op %></span>
        <span  class="label finger small label-primary"><%= @equation.b %></span>
        <span  class="label finger small label-default">=</span>
        <span  class="label finger small label-success"><%= @equation.result %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center prize">
        <% if @equation.is_correct %>
        <i class="fa fa-plus-square ruby fa-3"></i>
        <% @equation.response_score.times do %>
        <i class="fa fa-diamond ruby fa-3"></i>
        <% end %>
        <% else %>
        <i class="fa fa-minus-square gray fa-3"></i>
        <% @equation.response_score.abs.times do %>
        <i class="fa fa-diamond gray fa-3"></i>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "<i class=\"fa fa-chevron-circle-right fa-9 fade-ing\"></i>".html_safe, new_equation_path %>
      </div>
    </div>
  </div>
</section>
