// Place all the styles related to the equations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  font-family: 'Ubuntu Mono';
}

.ruby{
  color: #e0115f;
}
.gray{
  color: #d7d7dc;
}
.fa-9{
  font-size: 9em;
}
.fa-7{
  font-size: 7em;
}
.fa-6{
  font-size: 6em;
}
.fa-4{
  font-size: 4em;
}
.fa-3{
  font-size: 3em;
}

.finger{
  padding: .3em .5em .3em;
  font-size: 3.5em;
  line-height: 2.2em;
  border-radius: .35em;
  opacity: 1;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.finger.small{
  font-size: 2.5em;
}

.fade-ing{
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.faded{
  opacity: 0.3;
}

.reveal{
  transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -webkit-transition: opacity .35s ease-in-out;
  opacity: 0;
}

.revealed{
  opacity: 1;
}

.prize {
  transform-origin: 50% 100%;
  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.2, .2);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.alert{
  margin: 20px;
  margin-top: 80px;
  margin-bottom: 0px;
}
