<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%
     alert_type = case name.to_s
     when 'info'
       'info'
     when 'warn'
       'warning'
     when 'error'
       'danger'
     when 'success'
       'success'
     else
       'info'
     end
    %>
    <div class="alert alert-<%= alert_type %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
