<%# add navigation links to this file %>
<li><%= link_to "<i class='fa fa-question-circle'></i>".html_safe, page_path('about') %></li>
<% if user_signed_in? %>
  <li><%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_user_registration_path %></li>
  <li><%= link_to "<i class='fa fa-times'></i>".html_safe, destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
