<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<i class='fa fa-tree'></i>".html_safe, root_path, class: 'navbar-brand' %>
      <%= link_to "<i class='fa fa-plus-circle gray'></i> #{current_user.equations_count.to_i}".html_safe, root_path, class: 'visible-xs pull-right navbar-brand' if user_signed_in? %>
      <%= link_to "<i class='fa fa-diamond ruby'></i> #{current_user.score.to_i}".html_safe, root_path, class: 'visible-xs pull-right navbar-brand' if user_signed_in? %>
      <%= link_to "<i class='fa fa-heart gray'></i> #{current_user.name}".html_safe, root_path, class: 'visible-xs pull-right navbar-brand' if user_signed_in? %>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "<i class='fa fa-heart gray'></i> #{current_user.name}".html_safe, root_path, class: 'navbar-brand' %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-diamond ruby'></i> #{current_user.score.to_i}".html_safe, root_path, class: 'navbar-brand' %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-plus-circle gray'></i> #{current_user.equations_count.to_i}".html_safe, root_path, class: 'navbar-brand' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
