<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Algebro" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A minimalist playground for first grade algebra" %>">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <%= link_to "algebro&trade; is open source".html_safe, 'https://gitlab.com/etozzato/algebro' %>
            by <%= link_to "Mek", 'https://twitter.com/mekdigital' %>
          </p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>
